@charset "UTF-8";

div#snippet {

}

div#snippet p {
margin: 20px 10px;
font-size: 13px;
color: #343434;
line-height: 30px;
background-image: url(../images/underline_blue.gif);
}


div#snippet mf_wrapper {
	width: 640px;
	text-align: left;
	margin: 0px auto 0px auto;
	font-family: sans-serif;
}

div#snippet form#mailform {
	padding: 5px;
}

div#snippet table.mailform {
	width: 100%;
}
div#snippet table.mailform tr th{
	text-align: left;
	font-weight: normal;
	font-size: 10px;
	border-bottom: solid 1px #999999;
	padding: 7px 5px 7px 5px;
}

div#snippet table.mailform tr td {
	text-align: left;
	font-weight: normal;
	font-size: 12px;
	border-bottom: solid 1px #999999;
	padding: 7px 5px 7px 5px;
}

div#snippet table.mailform tr th {
	width: 150px;
}
div#snippet table.mailform tr th span {
	color: #CC0000;
	font-size: 10px;
}
div#snippet table.mailform tr th p {
	margin: 0px;
	padding: 0px;
	font-size: 10px;
	color: #999999;
}
div#snippet table.mailform tr td textarea {
	width: 100%;
	height: 120px;
}