/* ナビゲーター */

button {
border-top: 1px solid #ccc;
border-right: 1px solid #999;
border-bottom: 1px solid #999;
border-left: 1px solid #ccc;
padding: 5px 20px;
font-weight: bold;
cursor: pointer;
color: #666;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
text-shadow: 0 -1px 1px #FFF, -1px 0 1px #FFF, 1px 0 1px #aaa;
}

ul#navigator button {
float: left;
position: relative;
width: 147px;
height: 50px;
top:62px;
left:0px;
overflow: hidden;
text-align: center;
}

ul#navigator li a button {
font-size: 14px; /* リンクの文字サイズ（日本語）です */
color: #FFFFCC; /* リンクの文字色（日本語）です */
-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.6), inset 0 1px rgba(255,255,255,0.2), inset 0 1px rgba(255,255,255,0.5), inset 0 10px 20px rgba(255,255,255,0.1), inset 0 -35px 30px rgba(0,0,0,0.6);
-moz-box-shadow: 0 2px 6px rgba(0,0,0,0.6), inset 0 1px rgba(255,255,255,0.2), inset 0 1px rgba(255,255,255,0.5), inset 0 10px 20px rgba(255,255,255,0.1), inset 0 -35px 30px rgba(0,0,0,0.6);
border: 1px solid rgba(0,0,0,0.4);
background: rgba(0,0,0,0.6);
}

ul#navigator li a button span {
display: block;
margin-top: 1px;
font-size: 85%; /* リンクの文字サイズ（英語）です */
color: #BBFFCC; /* リンクの文字色（英語）です */
font-weight: normal;
}

ul#navigator li a:hover button {
padding: 8px 0px 0px 0px;
left: 0px;
width: 147px;
height: 50px;
-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.3), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.3), inset 0 10px 20px rgba(255,255,255,0.3), inset 0 -15px 30px rgba(0,0,0,0.3);
-moz-box-shadow: 0 2px 6px rgba(0,0,0,0.3), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.3), inset 0 10px 20px rgba(255,255,255,0.3), inset 0 -15px 30px rgba(0,0,0,0.3);
border: 1px solid rgba(0,0,0,0.4);
background: rgba(0,0,0,0.6);
}

ul#navigator button li.active a {
color: #003399; /* 該当ページがアクティヴになっている時のリンクの文字色（日本語）です */
width: 147px;
height: 50px;
-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.3), inset 0 1px rgba(0,0,0,0.3), inset 0 1px rgba(0,0,0,0.8), inset 0 10px 20px rgba(0,0,0,0.8), inset 0 -15px 30px rgba(0,0,0,0.3);
-moz-box-shadow: 0 2px 6px rgba(0,0,0,0.3), inset 0 1px rgba(0,0,0,0.3), inset 0 1px rgba(0,0,0,0.8), inset 0 10px 20px rgba(0,0,0,0.8), inset 0 -15px 30px rgba(0,0,0,0.3);
background: rgba(0,0,0,0.7);
padding: 6px 20px 4px;
}

ul#navigator button li a:hover span {
color: #003399; /* リンクにマウスを合わせた時の文字色（英語）です */
}

ul#navigator button li.active span {
color: #00AA99; /* 該当ページがアクティヴになっている時のリンクの文字色（英語）です */
}

ul#navigator button li.active a span {
color: #00AA99; /* 該当ページがアクティヴになっている時のリンクの文字色（英語）です */
}